.center-text {
    text-align: center;
    list-style-position: inside;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.custom-box {
  background-color: #28ED63;
}

h1 {
  font-size: 30px;
}

p {
    font-size: 20px;
}

.parent-container {
  text-align: center;
}

.text-box {
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(168, 169, 169);
  padding: 20px; 
  margin: 10px 20px;
}

.spacer {
    height: 20px;
}

